{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1>Nouveau Student</h1>

    {{ include('student/_form.html.twig') }}

    <a href="{{ path('app_student_index') }}" class="btn btn-light">Retour à la liste</a>
{% endblock %}
