{% extends 'base.html.twig' %}

{% block title %}New Supplement{% endblock %}

{% block body %}
    <h1>Nouveau Supplement</h1>

    {{ include('supplement/_form.html.twig') }}

    <a class="btn btn-light" href="{{ path('app_supplement_index') }}">Retour à la liste</a>
{% endblock %}
