{% extends 'base.html.twig' %}

{% block title %}New Subject{% endblock %}

{% block body %}
    <h1>Nouveau Subject</h1>

    {{ include('subject/_form.html.twig') }}

    <a href="{{ path('app_subject_index') }}" class="btn btn-light">Retour à la liste</a>
{% endblock %}
